*.js linguist-vendored=false
*.css linguist-detectable=false
*.cs linguist-detectable=false
*.js linguist-detectable=Csharp
*.csharp linguist-vendored=true
*.csharp linguist-detectable=true
*.js linguist-language=Csharp



