@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center ">
    <h1 class="display-4 text-left" style="color:#17a2b8;">Welcome</h1>
    <p class="text-white-50 text-left">Learn about <a style="color: #ffff4d" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
